@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	@font-face {
		font-family: "Halibut_Expanded";
		display: "swap";
		src: url("../_fonts/CLT_Halibut/web/Halibut-ExpandedThin.woff2") format("woff2");
	}
	@font-face {
		font-family: "Halibut";
		display: "swap";
		src: url("../_fonts/CLT_Halibut/web/Halibut-Thin.woff") format("woff2");
	}
	@font-face {
		font-family: "DM_Sans";
		display: "swap";
		src: url("../_fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
	}
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	color: black;
	background-color: white;
}

/* Hide scrollbar visually on homepage without disabling scroll */
html:has(.scrollbar-hide),
html:has(.scrollbar-hide) body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
html:has(.scrollbar-hide)::-webkit-scrollbar,
html:has(.scrollbar-hide) body::-webkit-scrollbar {
	display: none;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}
